.bannerGradiente {
  mask-image: linear-gradient(to bottom, #000000 95%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, #000000 95%, transparent 100%);
}

.imgBanner {
  object-fit: cover;
}

.card-img-top-nueva {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.precioTransferencia {
  font-size: 20px;
  font-weight: 500;
}

.textTransferencia {
  font-size: 12px;
}

.posicionTextPromo {
  position: absolute;
  bottom: 10px;
  left: 20px;
  text-align: left;
}

.textoCentrado {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.tamanioTextPromo {
  font-size: 10px;
}

.imgEnvios {
  width: 75px;
  height: 75px;
  transition: transform 0.3s ease;
}

.imgEnvios:hover {
  transform: scale(1.2);
}
