
.login-background {
    background-image: url("../assets/backLogin1.jpg"); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.card {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.imgLogin{
    width: 100px;
    height: 100px;
  }
  
.text-underline {
    text-decoration: underline;
}

.btnEnviar:hover{
    color: #3cbbeb !important;
    font-weight: 750 !important;
    
}


.password-container {
    position: relative;
}
  
.iconoOjo {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    cursor: pointer;
    z-index: 1;
    transition: font-size 0.1s ease;
}
  
.password-container input {
    padding-right: 40px; 
}

.iconoOjo:hover{
    font-size: 22px;
}