.active-link {
    border-bottom: 2px solid #ffffff; /* Línea inferior para el enlace activo */
    padding-bottom: 5px;
  }
  
  /* Estilo para la animación al pasar por encima */
  .nav-link:hover {
    border-bottom: 2px solid #007bff; /* Línea inferior azul al pasar por encima */
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease-in-out;
  }